header{
    background-color: #fff;
    color: #8772BC;
    text-align: center;
}

main{
    background-color: #8772BC;
    color: #e6a0bd;
    text-align: center;
}
img {
width: 150px;
height: 150px;

}
div  {
    padding: 20px;
    border: 2px solid rgb(255, 254, 255);
    margin: 30px;
}