header{
    background-color: #ffffff;
    color: #e6b9d1;
    text-align: center;
}

main{
    background-color: #f5c6eb;
    color: #ffffff;
    text-align: center;
}
img {
width: 150px;
height: 150px;

}
div  {
    padding: 20px;
    border: 2px solid rgb(206, 205, 211);
    margin: 30px;
}