header{
    background-color: #dfb3c0;
    color: #e9e9e9;
    text-align: center;
}

main{
    background-color: #e0b2da;
    color: #c9bfc3;
    text-align: center;
}
img {
width: 150px;
height: 150px;

}
div  {
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    margin: 30px;
}